# Variáveis para Prisma com Supabase
# Quando o Supabase é integrado ao Vercel, essas variáveis são criadas automaticamente.
# No Vercel o prisma agora usa DATABASE_URL.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
